* {
  box-sizing: border-box;
}

.title{
  border: #c4c72d;
  align-items: center;
  justify-content: center;
  display: flex;
}
body {
  font-family: sans-serif;
  padding: 20px;
}
.cards{
  border: #c4c72d;
  align-items: center;
  justify-content: center;
  display: flex;
}
.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flashcards div {
  border: 1px solid #c4c72d;
  background-color: #7791c9;
  border-radius: 7px;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

div.selected {
  border: 1px solid #e03131;
  background-color: #e03131;
  color: #ffffff;
  font-weight: bold;
}
